header nav {
  display: flex;
}
header nav ul li {
  display: inline;
  margin: 12px;
}
a:link {
  text-decoration: none;
}
header nav img {
  background-color: black;
}
header img {
  position: relative;
}

main section div h1 {
  font-weight: 900;
  position: absolute;
  top: 200px;
  left: 380px;
  font-size: 120px;

  color: #ffffff;
}

.smile {
  color: #ffffff;
  position: absolute;
  top: 450px;
  left: 600px;
}
.grin {
  color: #ffffff;
  position: absolute;
  top: 450px;
  left: 710px;
}
.laugh {
  color: #ffffff;
  position: absolute;
  top: 450px;
  left: 790px;
}
.button {
  position: absolute;
  bottom: 20px;
  left: 640px;
  background-color: #c271ff;
  border: none;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  color: #ffffff;
}
.pros {
  position: absolute;
  top: 650px;
  left: 650px;
  color: #ffffff;
}
.pros span {
  color: #c271ff;
}
.avatar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  max-width: 1000px;
  position: absolute;
  top: 730px;
  left: 150px;
  align-items: center;
}
.sub_avatar {
  text-align: center;
  color: #ffffff;
}
.tutorial {
  background-color: #c271ff;
  display: flex;
  color: #ffffff;
}
.popular h2 {
  text-align: center;
}
.popular span {
  color: #c271ff;
}
.play {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  top: 1270px;
}
.hagos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
}
.hagos p {
  color: grey;
}
.phillip {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.yacob {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  background-color: #010b13;
  padding: 70px;
  color: #ffffff;
}
.membership h2 {
  text-align: center;
  background-color: #010b13;
  margin: 0;
  color: #ffffff;
  padding: 30px;
}
.membership h2 span {
  color: #c271ff;
}
.button1 {
  background-color: #c271ff;
  border: none;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  color: #ffffff;
  position: absolute;
  top: 2045px;
  left: 520px;
}
.faq {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 50px;
  display: flex;
  flex-direction: row;
}
.one {
  color: grey;
}
.container h2 {
  text-align: center;
}
.contact {
  display: flex;
  background-color: black;
  padding: 50px;
}
.brand {
  display: inline;
  margin: 12px;
  position: absolute;
  left: 1000px;
}
.contact img {
  width: 70px;
  height: 15px;
}
.brand i {
  background-color: #ffffff;
  margin: 4px;
}
.copyright {
  position: absolute;
  top: 2670px;
  color: gray;
  left: 550px;
}
main section div ul {
  position: absolute;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  left: 900px;
  color: #ffffff;

}
main section div ul li{
  color: #ffffff;
}
.beyene{
  position: absolute;
  top: 30px;
  left: 80px;
}